@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agency";
  src: url(../public/agency.ttf);
}

* {
  font-family: agency;
}
body {
  background-color: rgb(236, 234, 234);
}
